{{ define "footer" }}
            <!-- Site footer -->
            <!-- <footer class="footer">
                    <p>&copy; Company 2017</p>
                    </footer> -->
            </div>
            <!-- /container -->

            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="/static/assets/js/vendor/jquery-3.2.1.slim.min.js"></script>
            <script src="/static/assets/js/vendor/popper.min.js"></script>
            <script src="/static/js/bootstrap.min.js"></script>
            <script src="/static/js/myscript.js"></script>
        </body>
    </html>
{{ end }}
